* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    border-radius: 0px;
    background: transparent;
    border: none;
}

tooltip {
    background-color: #313244;
    border-radius: 6px;
    border: 1px solid #cba6f7;
}

menu {
    border-radius: 6px;
    background-color: #313244;
    border: 1px solid #cba6f7;
}

separator {
    min-height: 2px;
    background: #6c7086;
}

check {
    background: #6c7086;
    border-radius: 100%;
    min-height: 18px;
    min-width: 18px;
}

check:checked {
    background: #cba6f7;
}

menuitem {
    border-radius: 7px;
}

menuitem:hover {
    background: #1e1e2e;
}

.workspaces {
    border-radius: 12px;
    background-color: #313244;

    .workspace {
        padding: 0px;
        min-width: 36px;
        border-radius: 12px;
        background-color: #313244;
        color: #cdd6f4;

        &.active {
            color: #cba6f7;
        }

        &.urgent {
            background-color: #f38ba8;
            color: #313244;
        }

        &.focused {
            background-color: #cba6f7;

            &.active {
                color: #313244;
            }
        }
    }
}

.audio {
    border-radius: 12px;
    background-color: transparent;
    background-color: #313244;

    .output {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-right: 1px solid #45475a;
    }

    .input {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border-left: 1px solid #45475a;
    }

    .output,
    .input {
        color: #89dceb;
        padding-left: 12px;

        &.muted {
            color: #f38ba8;
        }
    }
}

.privacy {
    color: #f38ba8;
    border-radius: 12px;
    background-color: #313244;
    padding: 0px 10px;

    .audio-recorders {
        min-width: 9px;
    }

    .video-recorders {
        min-width: 20px;
    }
}

.mpris {
    border-radius: 12px;
    background-color: #313244;

    .play_pause {
        background-color: transparent;
        border-radius: 12px;
        border: 1px solid #cba6f7;
        padding: 0px 9px 0px 9px;
    }

    .infos {
        background-color: transparent;
        border-radius: 12px;
        padding: 0px 10px;

        .text {

            .title {
                font-size: 12px;
            }

            .artist {
                font-size: 11px;
                color: #cba6f7;
            }
        }

        .time {
            padding-left: 10px;

            * {
                font-size: 12px;
            }
        }
    }
}

.date {
    color: #cba6f7;
    border-radius: 12px;
    background-color: #313244;
}

.notifications {
    background-color: #313244;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 8px;

    .icon {
        color: #74c7ec;
    }

    .number {
        color: #f38ba8;
        font-size: x-small;
        font-weight: 900;
        min-height: 0px;
        margin-top: -10px;
    }
}

.sysinfos {
    background-color: #313244;
    border-radius: 12px;
    padding: 0px 0px 0px 12px;

    .cpu {
        color: #f38ba8;
        padding-right: 20px;
    }

    .memory {
        color: #fab387;
        padding-right: 18px;
    }

    .storage {
        color: #89b4fa;
        padding-right: 12px;
    }

    .brightness {
        color: #f9e2af;
        padding-right: 12px;
        background-color: transparent;
    }

    .battery {
        color: #cdd6f4;
        padding-right: 12px;
        border-radius: 0px 12px 12px 0px;
        background-color: transparent;

        &.charging {
            color: #a6e3a1;
        }

        &.discharging {
            color: #fab387;
        }

        &.charged {
            color: #cdd6f4
        }
    }
}

.tray {
    background-color: #313244;
    border-radius: 12px;
    padding: 0px 12px;

    menuitem {
        padding: 0px;
        margin: 0px;

        .icon {
            padding: 0;
            font-size: 15px;
        }
    }


}

.audioMenu {
    background-color: #313244;
    border: 2px solid #cba6f7;
    border-radius: 12px;

    .menu {
        button {
            padding: 6px 12px;

            label {
                font-size: 14px;
            }

            &.toggled {
                background-color: #45475a;
                color: #cba6f7;
            }

            &.output {
                border-top-left-radius: 12px;
            }

            &.application {
                border-top-right-radius: 12px;
            }
        }
    }

    .content {
        padding: 10px;
        background-color: #1e1e2e;
        border-radius: 0px 0px 12px 12px;

        .card {
            background-color: #313244;
            padding: 10px;
            border-radius: 12px;

            .icon {
                font-size: 48px;
                min-height: 56px;
                min-width: 56px;
            }

            .description {
                margin-right: 25px;
                min-height: 24px;
            }

            .settings {
                button {
                    padding: 0px;

                    &.default {
                        border-radius: 12px;
                    }

                    &.profiles {
                        min-width: 24px;
                        border-radius: 6px;

                        label {
                            margin-left: -3px;
                        }
                    }
                }
            }

            .toggle {
                border-radius: 6px;

                label {
                    color: #89dceb;

                    &.mute {
                        color: #f38ba8;

                        &.mic {
                            margin-right: 2px;
                        }
                    }
                }
            }

            .bar {
                margin: 0px 15px 0px 10px;

                value {
                    font-size: 0px;
                }

                marks {
                    color: #a6adc8;

                    mark {
                        indicator {
                            min-width: 1px;
                            min-height: 8px;
                            margin-bottom: 5px;
                            margin-top: 0px;
                            color: #6c7086;
                        }
                    }
                }

                trough {
                    background-color: #45475a;
                    border-radius: 1px;

                    highlight {
                        min-height: 2px;
                        margin: 0px;
                        border-radius: 1px;
                        background-color: #cba6f7;
                    }

                    slider {
                        background-color: #1e1e2e;
                        border-radius: 16px;
                    }

                }

            }
        }
    }
}

.media {
    .card {
        background-color: #313244;
        border: 2px solid #cba6f7;
        border-radius: 12px;
        padding: 10px;
        min-width: 350px;

        .image {
            min-width: 100px;
            min-height: 100px;
            background-size: cover;
            background-position: center;
            border-radius: 12px;

            icon {
                min-width: 100px;
                min-height: 100px;
                font-size: 32px;
            }
        }

        .title {
            font-size: 14px;
        }

        .artist {
            font-size: 13px;
            color: #cba6f7;
        }

        .slider {
            margin-top: 3px;

            scale {
                .position {
                    padding: 0;
                    margin-bottom: .3em;
                }
            }

            trough {
                min-height: 8px;
                border-radius: 6px;
                background-color: #585b70;
            }

            highlight {
                background-color: #cba6f7;
                border-radius: 6px;
            }

            slider {
                all: unset;
            }
        }

        .controls {
            margin-top: 3px;

            button {
                border-radius: 6px;
                padding: 0px 4px;
            }
        }
    }
}

.calendar-box {
    background-color: #1e1e2e;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid #cba6f7;
    min-width: 300px;

    label {
        background-color: #313244;
        border-radius: 12px;
        padding: 4px;

        &.time {
            font-size: 64px;
        }

        &.date {
            font-size: 16px;
            color: unset;
        }

        &.uptime {
            font-size: 16px;
        }
    }

    .calendar {
        background-color: #313244;
        border: none;
        padding: 5px;
        border-radius: 12px;

        &:selected {
            color: #cba6f7;
        }

        .header {
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
        }

        .button {
            color: #cba6f7;
            padding: 4px;
            border-radius: 6px;
        }

        .button:hover {
            background-color: #cba6f7;
            color: #cdd6f4;
        }

        .highlight {
            color: #f38ba8
        }

        &:indeterminate {
            color: #6c7086;
        }
    }
}

.power {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    padding: 10px;

    .separator {
        min-height: 2px;
        border-radius: 1px;
        background-color: #585b70;
        margin: 10px 0px;
    }

    .controls {
        button {
            border: 1px solid #cba6f7;
            border-radius: 6px;
            padding: 6px 16px;
            background-color: #45475a;

            &.idle {
                label {
                    margin-right: 3px;
                }
            }

            &.toggled {
                background-color: #cba6f7;
            }
        }
    }

    .icon {
        margin-right: 10px;
        font-size: 26px;
    }

    .top {
        margin-bottom: 3px;
    }

    .bar {
        block {
            border-radius: 6px;

            &.empty {
                background-color: #585b70;
            }

            &.filled {
                background-color: #cba6f7;
            }
        }
    }

    .bottom {
        margin-top: 3px;
    }

    .battery {
        background-color: #313244;
        border-radius: 12px;
        padding: 10px;

        .profile {
            .icon {
                margin: 0px 10px 0px 5px;
            }

            .selector {
                margin: 0px 10px 3px 10px;

                value {
                    font-size: 0px;
                }

                marks {
                    color: #a6adc8;

                    mark {
                        indicator {
                            min-width: 1px;
                            min-height: 8px;
                            margin-bottom: 5px;
                            margin-top: 0px;
                            color: #6c7086;
                        }
                    }
                }

                trough {
                    background-color: #45475a;
                    border-radius: 1px;

                    highlight {
                        min-height: 2px;
                        margin: 0px;
                        border-radius: 1px;
                        background-color: #cba6f7;
                    }

                    slider {
                        background-color: #1e1e2e;
                        border-radius: 16px;
                    }

                }
            }
        }
    }

    .devices {
        .device {
            background-color: #313244;
            border-radius: 12px;
            padding: 10px;
        }
    }
}