* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    border-radius: 0px;
    background: transparent;
    border: none;
}

tooltip {
    background-color: #313244;
    border-radius: 6px;
    border: 1px solid #cba6f7;
}

menu {
    border-radius: 6px;
    background-color: #313244;
    border: 1px solid #cba6f7;
}

separator {
    min-height: 2px;
    background: #6c7086;
}

check {
    background: #6c7086;
    border-radius: 100%;
    min-height: 18px;
    min-width: 18px;
}

check:checked {
    background: #cba6f7;
}

menuitem {
    border-radius: 7px;
}

menuitem:hover {
    background: #1e1e2e;
}

popover contents {
    background-color: #1e1e2e;
    border-radius: 12px;
    border: 1px solid #cba6f7;

    box box {
        border-radius: 12px;
        background-color: #313244;
        padding: 6px;
    }
}

label {
    margin-left: 1px;
    margin-top: 1px;
}

button {
    transition: background-color 0.2s ease;
    outline: none;

    label {
        transition: transform 0.2s ease;
    }
}

.bar {

    .separator {
        min-width: 2px;
        margin: 8px 0px;
        background-color: #45475a;
    }

    .workspaces {
        border-radius: 12px;
        background-color: #313244;

        .workspace {
            padding: 0px;
            min-width: 36px;
            border-radius: 12px;
            background-color: #313244;
            color: #cdd6f4;

            &:hover {
                background-color: #cdd6f433;
            }

            &.active {
                color: #cba6f7;

                &:hover {
                    background-color: #cba6f733;
                }
            }

            &.urgent {
                background-color: #f38ba8;
                color: #313244;

                &:hover {
                    background-color: #f38ba8cc;
                }
            }

            &.focused {
                background-color: #cba6f7;

                &.active {
                    color: #313244;
                }

                &:hover {
                    background-color: #cba6f7cc;
                }
            }
        }
    }

    .audio {
        border-radius: 12px;
        background-color: #313244;

        button {
            color: #89dceb;
            border-radius: 12px;

            &:hover {
                background-color: #89dceb33;
            }

            &.muted {
                color: #f38ba8;

                &:hover {
                    background-color: #f38ba833;
                }

                &.input label {
                    margin-left: 3px;
                }
            }
        }
    }

    .privacy {
        color: #f38ba8;
        border-radius: 12px;
        background-color: #313244;

        .audio-recorders {
            padding: 0px 14px;
            margin: 0px;
        }

        .video-recorders {
            padding: 0px 18px 0px 10px;
        }
    }

    .mpris {
        border-radius: 12px;
        background-color: #313244;

        .play_pause {
            background-color: transparent;
            border-radius: 12px;
            border: 1px solid #cba6f7;
            padding: 0px 5px 0px 5px;

            &:hover {
                background-color: #cba6f733;
            }
        }

        .infos {
            background-color: transparent;
            border-radius: 12px;
            padding: 0px 10px;

            &:hover {
                background-color: #cba6f733;
            }

            .text {

                .title {
                    font-size: 12px;
                }

                .artist {
                    font-size: 11px;
                    color: #cba6f7;
                }
            }

            .time {
                padding-left: 10px;

                * {
                    font-size: 12px;
                }
            }
        }
    }

    .date {
        background-color: #313244;
        border-radius: 12px;

        button {
            color: #cba6f7;
            border-radius: 12px;

            &:hover {
                background-color: #cba6f733;
            }
        }
    }

    .notifications {
        background-color: #313244;
        border-radius: 12px;

        button {
            border-radius: 12px;
            padding-left: 12px;
            padding-right: 8px;

            &:hover {
                background-color: #74c7ec33;
            }

            .icon {
                color: #74c7ec;
            }

            .number {
                color: #f38ba8;
                font-size: x-small;
                font-weight: 900;
                min-height: 0px;
                margin-top: -10px;
            }
        }

    }

    .sysinfos {
        background-color: #313244;
        border-radius: 12px;

        button {
            border-radius: 12px;

            &.cpu {
                color: #f38ba8;
            }

            &.memory {
                color: #fab387;

                &:hover {
                    background-color: #fab38733;
                }
            }

            &.storage {
                color: #89b4fa;

                &:hover {
                    background-color: #89b4fa33;
                }
            }

            &.brightness {
                color: #f9e2af;

                &:hover {
                    background-color: #f9e2af33;
                }
            }

            &.battery {
                color: #cdd6f4;

                &:hover {
                    background-color: #cdd6f433;
                }

                &.charging {
                    color: #a6e3a1;

                    &:hover {
                        background-color: #a6e3a133;
                    }
                }

                &.discharging {
                    color: #fab387;

                    &:hover {
                        background-color: #fab38733;
                    }
                }

                &.charged {
                    color: #cdd6f4;

                    &:hover {
                        background-color: #cdd6f433;
                    }
                }
            }
        }

        .idle {
            font-size: 8px;
            color: #f38ba8;
            margin-left: -8px;
            margin-top: -14px;
        }
    }

    .system_panel {
        color: #cba6f7;
        border-radius: 12px;
        background-color: #313244;

        button {
            min-width: 0px;
            border-radius: 12px;

            &.network {
                padding: 0px;
                min-width: 36px;
            }

            &.bluetooth {
                padding: 0px 11px;

                &:hover {
                    background-color: #cdd6f433;
                }
            }

            &.tray {
                padding: 0px;
                padding-left: 12px;
                padding-right: 16px;

                &:hover {
                    background-color: #cdd6f433;
                }
            }

            &.power {
                padding: 0px;
                padding-left: 12px;
                padding-right: 16px;
                color: #f38ba8;

                &:hover {
                    background-color: #f38ba833;
                }
            }
        }
    }

}



.audioMenu {
    background-color: #313244;
    border: 2px solid #cba6f7;
    border-radius: 12px;

    .menu {
        button {
            padding: 6px 12px;

            label {
                font-size: 14px;
            }

            &:hover {
                background-color: #cba6f733;
            }

            &.toggled {
                background-color: #45475a;
                color: #cba6f7;
            }

            &.output {
                border-top-left-radius: 12px;
            }

            &.application {
                border-top-right-radius: 12px;
            }
        }
    }

    .content {
        padding: 10px;
        background-color: #1e1e2e;
        border-radius: 0px 0px 12px 12px;

        .card {
            background-color: #313244;
            padding: 10px;
            border-radius: 12px;

            .icon {
                font-size: 48px;
                min-height: 56px;
                min-width: 56px;
            }

            .description {
                margin-right: 25px;
                min-height: 24px;
            }

            .settings {
                button {
                    padding: 0px;

                    &.default {
                        border-radius: 12px;
                    }

                    &.profiles {
                        min-width: 24px;
                        border-radius: 6px;

                        label {
                            margin-left: -3px;
                        }
                    }
                }
            }

            .toggle {
                border-radius: 6px;

                label {
                    color: #89dceb;

                    &.mute {
                        color: #f38ba8;

                        &.mic {
                            margin-right: 2px;
                        }
                    }
                }
            }

            .profiles {
                label {
                    color: #e8ebf6;
                }



            }

            .bar {
                margin: 0px 15px 0px 10px;

                value {
                    font-size: 0px;
                }

                marks {
                    color: #a6adc8;

                    mark {
                        indicator {
                            min-width: 1px;
                            min-height: 8px;
                            margin-bottom: 5px;
                            margin-top: 0px;
                            color: #6c7086;
                        }
                    }
                }

                trough {
                    background-color: #45475a;
                    border-radius: 1px;

                    highlight {
                        min-height: 2px;
                        margin: 0px;
                        border-radius: 1px;
                        background-color: #cba6f7;
                    }

                    slider {
                        background-color: #1e1e2e;
                        border-radius: 16px;
                    }

                }

            }
        }
    }
}

.media {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    padding: 10px;
    margin-right: 1px;

    .card {
        background-color: #313244;
        border-radius: 12px;
        padding: 10px;
        min-width: 350px;

        .image {
            min-width: 100px;
            min-height: 100px;
            background-size: cover;
            background-position: center;
            border-radius: 12px;

            icon {
                min-width: 100px;
                min-height: 100px;
                font-size: 32px;
            }
        }

        .title {
            font-size: 14px;
        }

        .artist {
            font-size: 13px;
            color: #cba6f7;
        }

        .slider {
            margin-top: 3px;

            scale {
                .position {
                    padding: 0;
                    margin-bottom: .3em;
                }
            }

            trough {
                min-height: 8px;
                border-radius: 6px;
                background-color: #585b70;
            }

            highlight {
                background-color: #cba6f7;
                border-radius: 6px;
            }

            slider {
                all: unset;
            }
        }

        .controls {
            margin-top: 3px;

            button {
                border-radius: 6px;
                padding: 0px 4px;
            }
        }
    }
}

.calendar-box {
    background-color: #1e1e2e;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid #cba6f7;
    min-width: 300px;

    label {
        background-color: #313244;
        border-radius: 12px;
        padding: 4px;

        &.time {
            font-size: 64px;
            color:#cba6f7
        }

        &.date {
            font-size: 16px;
            color: unset;
        }

        &.uptime {
            font-size: 16px;
        }
    }

    .calendar {
        background-color: #313244;
        border-radius: 12px;

        grid {
            label.today {
                color: #cba6f7;
            }
        }
    }

    // .calendar {
    //     background-color: red;
    //     background-color: #313244;
    //     border: none;
    //     padding: 5px;
    //     border-radius: 12px;

    //     &:selected {
    //         color: #cba6f7;
    //         padding: 10px;
    //     }

    //     .header {
    //         border-top-right-radius: 12px;
    //         border-top-left-radius: 12px;
    //     }

    //     .button {
    //         color: #cba6f7;
    //         padding: 4px;
    //         border-radius: 6px;
    //     }

    //     .button:hover {
    //         background-color: #cba6f7;
    //         color: #cdd6f4;
    //     }

    //     .highlight {
    //         color: #f38ba8
    //     }

    //     &:indeterminate {
    //         color: #6c7086;
    //     }
    // }
}

box.battery {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    padding: 10px;

    .separator {
        min-height: 2px;
        border-radius: 1px;
        background-color: #585b70;
        margin: 10px 0px;
    }

    .controls {
        button {
            border: 1px solid #cba6f7;
            border-radius: 6px;
            padding: 6px 16px;
            background-color: #45475a;

            &.idle {
                label {
                    margin-right: 3px;
                }
            }

            &.toggled {
                background-color: #cba6f7;
            }
        }
    }

    .icon {
        margin-right: 10px;
        font-size: 26px;
    }

    .top {
        margin-bottom: 3px;
    }

    .bar {
        block {
            border-radius: 6px;

            &.empty {
                background-color: #585b70;
            }

            &.filled {
                background-color: #cba6f7;
            }
        }
    }

    .bottom {
        margin-top: 3px;
    }

    .main_battery {
        background-color: #313244;
        border-radius: 12px;
        padding: 10px;

        .profile {
            .icon {
                margin: 0px 10px 0px 5px;
            }

            .selector {
                margin: 0px 10px 3px 10px;

                value {
                    font-size: 0px;
                }

                marks {
                    color: #a6adc8;

                    mark {
                        indicator {
                            min-width: 1px;
                            min-height: 8px;
                            margin-bottom: 5px;
                            margin-top: 0px;
                            color: #6c7086;
                        }
                    }
                }

                trough {
                    background-color: #45475a;
                    border-radius: 1px;

                    highlight {
                        min-height: 2px;
                        margin: 0px;
                        border-radius: 1px;
                        background-color: #cba6f7;
                    }

                    slider {
                        background-color: #1e1e2e;
                        border-radius: 16px;
                    }

                }
            }
        }
    }

    .devices {
        .device {
            background-color: #313244;
            border-radius: 12px;
            padding: 10px;
        }
    }
}

.toast {
    background-color: #313244cc;
    border: 1px solid #cba6f7;
    border-radius: 6px;
    padding: 10px;
    min-width: 96px;
    min-height: 24px;
    margin: 1px;
}

.clipboard {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    min-height: 400px;
    min-width: 700px;
    padding: 10px;
    margin: 1px;

    .controls {
        .search {
            background-color: #313244;
            border-radius: 6px;
        }

        button {
            background-color: #cba6f7;
            border-radius: 6px;
        }
    }

    .empty {
        font-size: 24px;
    }

    .entries {
        padding: 10px;

        .line {
            box {
                padding: 8px 0px;

                .trash {
                    background-color: #f38ba8;
                    border-radius: 6px;
                    padding: 0px;
                    min-height: 24px;
                    min-width: 24px;

                    &:hover {
                        background-color: #f38ba8aa;
                    }
                }
            }

            &.selected {
                color: #f38ba8;
            }
        }
    }

    .pages {
        button {
            padding: 0px 3px;
            background-color: #45475a;
            border-radius: 3px;

            &:hover {
                background-color: #45475aaa;
            }
        }
    }
}

.app_launcher {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    padding: 10px;
    min-width: 500px;
    min-height: 627px;

    .search {
        background-color: #313244;
        border-radius: 6px;
    }

    .apps {
        .app {
            background-color: #313244;
            transition: background-color 0.2s ease;
            padding: 5px;
            border-radius: 6px;

            &:hover {
                background-color: #313244aa;
            }

            &.toggled {
                padding: 3px;
                border: 2px solid #f38ba8;
            }

            .icon {
                font-size: 54px;
            }

            .infos {
                margin-left: 10px;

                .description {
                    font-size: 12px;
                    color: #6c7086;
                }
            }
        }
    }

    .pages {
        button {
            padding: 0px 3px;
            background-color: #45475a;
            border-radius: 3px;

            &:hover {
                background-color: #45475aaa;
            }
        }
    }
}

box.tray {
    background-color: #313244;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    padding: 8px;

    .item {
        border-radius: 8px;
        padding: 4px 8px;

        icon {
            font-size: 16px;
        }
    }
}

box.bluetooth {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    padding: 10px;
    min-width: 400px;

    .controls {
        background-color: #313244;
        border-radius: 12px;
        padding: 10px;

        .search {
            border-radius: 6px;
            background-color: #45475a;
            min-width: 36px;
            padding: 0px;

            &.discover {
                label {
                    margin-right: 4px;
                }
            }
        }

        switch {
            border-radius: 16px;
            background-color: #9399b2;

            slider {
                border-radius: 12px;
                background-color: #e8ebf6;
            }

            &.activated {
                background-color: #cba6f7;
            }
        }
    }

    scrollbar {
        margin-left: 6px;

        contents {
            trough {
                background-color: #6c7086;
                border-radius: 3px;

                slider {
                    background-color: #cba6f7;
                    border-radius: 3px;
                    min-width: 3px;
                    min-height: 0px;
                }
            }
        }
    }

    .devices {

        .device {
            background-color: #313244;
            border-radius: 12px;
            padding: 10px;

            .icon {
                font-size: 32px;
            }

            .infos {
                .address {
                    color: #a6adc8;
                    font-size: 12px;
                }
            }

            .status {
                label {
                    border-radius: 3px;
                    font-size: 12px;

                    &.trust {
                        padding: 0px 6px 0px 4px;
                        background-color: #a6e3a1;
                    }

                    &.block {
                        padding: 0px 7px 0px 3px;
                        background-color: #f38ba8;
                    }
                }
            }

            .connect {
                background-color: #89b4fa;
                border-radius: 6px;
                min-width: 100px;
                padding: 0px;

                &.connected {
                    background-color: #f38ba8;
                }
            }

            .pair {
                background-color: #89b4fa;
                border-radius: 6px;
            }

            .options {
                background-color: #45475a;
                border-radius: 6px;
                padding: 0px 4px 0px 1px;
            }
        }
    }
}

.keybinds {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    padding: 10px;

    .search {
        background-color: #313244;
        border-radius: 6px;
    }

    .list {
        padding: 10px;

        scrollbar {
            margin-left: 6px;

            contents {
                trough {
                    background-color: #6c7086;
                    border-radius: 3px;

                    slider {
                        background-color: #cba6f7;
                        border-radius: 3px;
                        min-width: 3px;
                        min-height: 0px;
                    }
                }
            }
        }

        .grid {
            .categorie {
                color: #f38ba8;
            }

            .keybind {
                .highlight {
                    background-color: #89b4fa;
                }

                .bind {
                    color: #cba6f7;

                    &.highlight {
                        background-color: #f9e2af;
                    }
                }
            }
        }
    }
}

box.power {
    background-color: #313244;
    border: 2px solid #cba6f7;
    border-radius: 12px;

    button {
        padding: 6px 20px;

        label {
            &.lock {
                color: #89b4fa;
            }

            &.sleep {
                color: #cba6f7;
            }

            &.logout {
                color: #fab387;
            }

            &.reboot {
                color: #a6e3a1;
            }

            &.shutdown {
                color: #f38ba8;
            }
        }
    }
}

box.storage {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    padding: 10px;
    min-width: 450px;
    min-height: 318px;

    scrollbar {
        margin-left: 6px;

        contents {
            trough {
                background-color: #6c7086;
                border-radius: 3px;

                slider {
                    background-color: #cba6f7;
                    border-radius: 3px;
                    min-width: 3px;
                    min-height: 0px;
                }
            }
        }
    }

    .device {
        background-color: #313244;
        border-radius: 12px;
        padding: 10px;

        .overview {
            margin-bottom: 10px;

            .icon {
                font-size: 32px;
                margin-right: 10px;
            }

            .model {
                color: #89b4fa;
            }

            .path {
                color: #a6e3a1;
            }

            .size {
                color: #f38ba8;
                margin-right: 6px;
            }
        }

        .separator {
            min-height: 2px;
            background-color: #585b70;
            margin: 5px 0px;
        }

        .partitions {
            background-color: #1e1e2e;
            border-radius: 12px;
            padding: 10px;

            label {
                font-size: 13px;

                &.label {
                    color: #89b4fa;
                }

                &.mount {
                    color: #cba6f7;
                }

                &.fstype {
                    color: #fab387;
                }

                &.path {
                    color: #a6e3a1;
                }

                &.size {
                    color: #f38ba8;
                }
            }
        }
    }
}


box.memory {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    padding: 10px;
    min-height: 500px;
    min-width: 400px;

    scrollbar {
        margin-left: 6px;

        contents {
            trough {
                background-color: #6c7086;
                border-radius: 3px;

                slider {
                    background-color: #cba6f7;
                    border-radius: 3px;
                    min-width: 3px;
                    min-height: 0px;
                }
            }
        }
    }
}

box.brightness {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    padding: 10px;
    min-width: 376px;

    .screen {
        background-color: #313244;
        border-radius: 12px;
        padding: 10px;

        .icon {
            font-size: 32px;
            padding-right: 20px;
        }

        .slider {
            margin: 16px 0px;

            value {
                font-size: 0px;
            }

            marks {
                color: #a6adc8;

                mark {
                    indicator {
                        min-width: 1px;
                        min-height: 8px;
                        margin-bottom: 5px;
                        margin-top: 0px;
                        color: #6c7086;
                    }
                }
            }

            trough {
                background-color: #45475a;
                border-radius: 1px;

                highlight {
                    min-height: 2px;
                    margin: 0px;
                    border-radius: 1px;
                    background-color: #cba6f7;
                }

                slider {
                    background-color: #1e1e2e;
                    border-radius: 16px;
                }

            }
        }

        .presets {
            button {
                padding: 3px 0px;
                min-width: 0px;
                min-height: 0px;
                border-radius: 3px;

                label {
                    font-size: 12px;
                }
            }
        }
    }

    .keyboard {
        background-color: #313244;
        border-radius: 12px;
        padding: 10px;

        .selector {
            margin: 0px 10px 3px 10px;

            value {
                font-size: 0px;
            }

            marks {
                color: #a6adc8;

                mark {
                    indicator {
                        min-width: 1px;
                        min-height: 8px;
                        margin-bottom: 5px;
                        margin-top: 0px;
                        color: #6c7086;
                    }
                }
            }

            trough {
                background-color: #45475a;
                border-radius: 1px;

                highlight {
                    min-height: 2px;
                    margin: 0px;
                    border-radius: 1px;
                    background-color: #cba6f7;
                }

                slider {
                    background-color: #1e1e2e;
                    border-radius: 16px;
                }

            }
        }
    }
}

.power_selector {
    background-color: #1e1e2e;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    padding: 10px;

    box {
        background-color: #313244;
        border-radius: 12px;

        box {
            min-width: 160px;
            min-height: 160px;
            padding: 10px;
        }

        .icon {
            font-size: 64px;
        }

        .label {
            font-size: 20px;
        }

        &.selected {
            background-color: #45475a;
            border: 2px solid #cba6f7;
            margin-top: -2px;
            margin-left: -2px;
        }

        &.lock {
            color: #89b4fa;

            .icon {
                margin-left: -12px;
            }
        }

        &.sleep {
            color: #cba6f7;

            .icon {
                margin-left: -19px;
            }
        }

        &.logout {
            color: #fab387;

            .icon {
                margin-left: -16px;
            }
        }

        &.reboot {
            color: #a6e3a1;

            .icon {
                margin-left: -19px;
            }
        }

        &.shutdown {
            color: #f38ba8;

            .icon {
                margin-left: -19px;
            }
        }

        &:hover {
            background-color: #45475a;

            &.selected {
                background-color: #313244;
            }
        }
    }
}

.screenshot {
    background-color: #313244;
    border: 2px solid #cba6f7;
    border-radius: 12px;
    padding: 4px;

    button {
        padding: 8px 16px;
        background-color: #45475a;
        border-radius: 6px;

        label {
            font-size: 18px;
        }

        &.window {
            label {
                margin-right: 6px;
            }
        }

        &:hover {
            background-color: #45475acc;
        }
    }
}