* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 12px;
    background: none;
    box-shadow: unset
}

window {
    background: #313244;
    border-radius: 7px;
    border: 1px solid #cba6f7;
}

window#waybar {
    background: none;
    border: none;
}

tooltip {
    background: #313244;
    color: #cdd6f4;
    border-radius: 7px;
    border-width: 0px;
    border: 1px solid #cba6f7;
}

#workspaces {
    background: #313244;
    border-radius: 12px;
}

#workspaces button {
    color: #cba6f7;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.visible {
    background: #cba6f7;
    color: #313244;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.empty {
    color: #cdd6f4;
}

#workspaces button.urgent {
    background-color: #f38ba8;
    color: #313244;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    background: #cba6f7;
    color: #313244;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#idle_inhibitor {
    background: #313244;
    color: #cdd6f4;
    padding-left: 12px;
    padding-right: 18px;
    border-radius: 12px;
    margin-left: 10px;
}

#pulseaudio.sound {
    background: #313244;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    margin-left: 10px;
    padding-top: 2px;
}

#pulseaudio.mic {
    background: #313244;
    padding-left: 14px;
    padding-right: 16px;
    border-radius: 12px;
    margin-left: 10px;
    padding-top: 2px;
}

#mpris,
#clock,
#custom-notification,
#tray {
    background: #313244;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    margin-left: 10px;
}

#tray menu {
    border-radius: 7px;
    border: 1px solid #cba6f7;
}

#tray menu separator {
    min-height: 2px;
    background: #6c7086;
}

#tray menu menuitem check {
    background: #6c7086;
    border-radius: 100%;
    min-height: 18px;
    min-width: 18px;
}

#tray menu menuitem check:checked {
    background: #cba6f7;
}

#tray menu menuitem {
    border-radius: 7px;
}

#tray menu menuitem:hover {
    background: #1e1e2e;
}

#cpu {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-left: 10px;
}

#cpu,
#memory,
#disk,
#backlight,
#upower {
    background: #313244;
    color: #cdd6f4;
    padding-left: 12px;
    padding-right: 12px;
}

#upower {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#custom-notification {
    background: #313244;
    padding-left: 12px;
    padding-right: 8px;
    border-radius: 12px;
    margin-left: 10px;
}

/* COLORS */
#idle_inhibitor.activated {
    color: #a6e3a1;
}

#idle_inhibitor.deactivated {
    color: #f38ba8;
}

#pulseaudio.sound {
    color: #89dceb;
}

#pulseaudio.sound.muted {
    color: #f38ba8;
}

#pulseaudio.mic {
    color: #89dceb;
}

#pulseaudio.mic.source-muted {
    color: #f38ba8;
}

#mpris {
    color: #74c7ec;
}

#clock {
    color: #cba6f7;
}

#cpu {
    color: #f38ba8;
}

#memory {
    color: #fab387;
}

#disk {
    color: #89b4fa;
}

#backlight {
    color: #f9e2af;
}

#upower.charging {
    color: #a6e3a1;
}

#upower.discharging {
    color: #fab387;
}

#upower.unknown-status {
    color: gray;
}

#custom-notification {
    color: #74c7ec;
}