/******************************************************
GENERAL
******************************************************/

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    border-radius: 0px;
}


/******************************************************
WORKSPACE MODULE
******************************************************/

.workspaces {
    background-color: #313244;
    border-radius: 12px;
}

.workspaces button {
    background-color: #313244;
    border-radius: 12px;
}

.workspaces button.active-focused {
    background-color: #cba6f7;
    color: #313244;
}

.workspaces button.inactive-focused {
    background-color: #cba6f7;
    color: #cdd6f4;
}

.workspaces button.active-unfocused {
    background-color: #313244;
    color: #cba6f7;
}

.workspaces button.inactive-unfocused {
    background-color: #313244;
    color: #cdd6f4;
}

.workspaces button.urgent {
    background-color: #f38ba8;
    color: #313244;
}


/******************************************************
IDLE INHIBITOR MODULE
******************************************************/

.idle-inhibitor {
    background-color: #313244;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 10px;
}

.idle-inhibitor-active {
    color: #a6e3a1;
}

.idle-inhibitor-inactive {
    color: #f38ba8;
}


/******************************************************
AUDIO MODULE
******************************************************/


.audio-output, .audio-output-muted, .audio-input, .audio-input-muted {
    background-color: #313244;
    opacity: 1;
    border-radius: 12px;
    font-size: 14px;
    min-width: 0px;
}

/* Output */

.audio-output, .audio-output-muted {
    padding-left: 12px;
    padding-right: 12px;
}

.audio-output {
    color: #89dceb;
}

.audio-output-muted {
    color: #f38ba8;
}

/* Input */

.audio-input, .audio-input-muted {
    padding-left: 14px;
    padding-right: 16px;
}

.audio-input {
    color: #89dceb;
}

.audio-input-muted {
    color: #f38ba8;
}


/******************************************************
DATE MODULE
******************************************************/

.mpris, .mpris-play-pause {
    background-color: #313244;
    border-radius: 12px;
}

.mpris-hidden {
    background-color: transparent;
}

.mpris-play-pause {
    border: 1px solid #cba6f7;
}

.mpris-text{
    padding-left: 10px;
    padding-right: 10px;
}

.mpris-title {
    font-size: 12px;
}

.mpris-artist {
    font-size: 11px;
}

.mpris-time{
    padding-right: 10px;
}

.mpris-position, .mpris-separator, .mpris-length{
    font-size: 12px;
}


/******************************************************
DATE MODULE
******************************************************/

.date {
    background-color: #313244;
    color: #cba6f7;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
}


/******************************************************
NOTIFICATIONS MODULE
******************************************************/

.notifications{
    background-color: #313244;
    border-radius: 14px;
    padding-left: 12px;
    padding-right: 10px;
}

.notifications-icon {
    color: #74c7ec;
}

.notifications-number {
    font-size:x-small;
    font-weight: 900;
    min-height: 0px;
    margin-top: -10px;
    color: #f38ba8;
}


/******************************************************
CPU MODULE
******************************************************/

.cpu {
    background-color: #313244;
    color: #f38ba8;
    padding-left: 12px;
    padding-right: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}


/******************************************************
RAM MODULE
******************************************************/

.ram {
    background-color: #313244;
    color: #fab387;
    padding-right: 18px;
}


/******************************************************
STORAGE MODULE
******************************************************/

.storage {
    background-color: #313244;
    color: #89b4fa;
    padding-right: 12px;
}


/******************************************************
BRIGHTNESS MODULE
******************************************************/

.brightness {
    background-color: #313244;
    color: #f9e2af;
    padding-right: 12px;
}


/******************************************************
BATTERY MODULE
******************************************************/

.battery-charged, .battery-charging, .battery-discharging {
    background-color: #313244;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-right: 14px;
}

.battery-charged {
    color: #cdd6f4;
}

.battery-charging {
    color: #a6e3a1;
}

.battery-discharging {
    color: #fab387;
}


.test {
    background-color: #313244;
    padding-left: 120px;
    border-radius: 12px;
}


/******************************************************
TRAY MODULE
******************************************************/

.tray {
    background-color: #313244;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.tray-item {
    background-color: #313244;
    border-radius: 12px;
}

menu {
    border-radius: 7px;
    border: 1px solid #cba6f7;
}

separator {
    min-height: 2px;
    background: #6c7086;
}

check {
    background: #6c7086;
    border-radius: 100%;
    min-height: 18px;
    min-width: 18px;
}

check:checked {
    background: #cba6f7;
}

menuitem {
    border-radius: 7px;
}

menuitem:hover {
    background: #1e1e2e;
}