* {
    background-image: none;
    font-size: 24px;
    font-family: "JetBrainsMono Nerd Font";
}

window {
    background: none;
}

button {
    color: #cdd6f4;
    background-color: #1e1e2e;
    outline-style: none;
    border-style: solid;
    border-color: #cba6f7;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
    margin-bottom: 200px;
    margin-top: 200px;
}

button:focus {
    background-color: #313244;
    background-size: 35%;
}

button:hover {
    background-color: #313244;
    background-size: 35%;
    border-radius: 10px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 10px 0px 0px 10px;
}

button:hover#sleep {
    border-radius: 0px;
}

button:hover#reboot {
    border-radius: 0px;
}

button:hover#shutdown {
    border-radius: 0px 10px 10px 0px;
}

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
    border-radius: 10px 0px 0px 10px;
    border-right-width: 1px;
    padding-right: 43px;
    padding-left: 43px;
}

#sleep {
    background-image: image(url("$HOME/.config/wlogout/icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"));
    border-radius: 0px;
    border-right-width: 1px;
    border-left-width: 1px;
    padding-right: 36px;
    padding-left: 36px;
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
    border-radius: 0px;
    border-right-width: 1px;
    border-left-width: 1px;
    padding-right: 29px;
    padding-left: 29px;
}

#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 10px 10px 0px;
    border-left-width: 1px;
}